body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222222;

  #root {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    text-align: center;

    canvas {
      background-color: #000000;
    }
  }
}